[flake8]
extend-exclude = migrations
max-line-length = 88
#max-complexity = 12
#select = C,E,F,W,B,B950
ignore =
     # E203: whitespace before ':' (black fails to be PEP8 compliant)
     E203
;     # E501: line to long (use B950 instead, black behaviour)
;     E501
     # E731: do not assign a lambda expression, use a def
     E731
     # W503: line break before binary operator (flake8 is not PEP8 compliant)
     W503
     # W504: line break after binary operator (flake8 is not PEP8 compliant)
     W504