.idea/
.vscode/
static
__pycache__

# Ignore configuration file
.env

# Using this for pyenv in development environment.
.python-version
docker/compose-*

# Ignore Ruff cache. This is technically not needed since
# Ruff adds its own .gitignore to the cache, but just to make sure.
.ruff_cache/

# Ignore the sass compiler file
*.map

# Temporary local folder for managing database dumps
dumps/

node_modules/
