.tox/
.idea/
.vscode/
static
__pycache__

# Ignore configuration file
docker/settings/
!docker/settings/settings.env.example

# Using this for pyenv in development environment.
.python-version
docker/compose-*

# Ignore the node modules
node_modules

# Ignore the sass compiler file
*.map
