<header class="header">
  <div class="menu">
    <div class="menu__top">
      {% if request.user.is_authenticated %}
      <div class="menu__username">
        <p>Logged in as: 
          <a href="{% url 'registration:profile_details' %}">
            <p>{{ request.user }}</p>
          </a>
        </p>
      </div>
      {% endif %}
      {# if language options #}
      {% load language %}
      {% get_current_language as LANGUAGE_CODE %}
      {% get_available_languages as LANGUAGES %}
      {% get_language_info_list for LANGUAGES as languages %}
      <div class="menu__lang text-sm">
        <ul>
          {% for language in languages %}
          <!-- TODO: style hardcoded passar a css -->
          <li {% if language.code == LANGUAGE_CODE %}style="font-weight:bold;"{% endif %}>
            <a href="{% change_lang language.code %}">
              <p class="menu__lang-item">{{ language.name_local }} ({{ language.code }})</p>
            </a>
          </li>
          {% endfor %}  
        </ul> 
      </div>
      {# endif #}
    </div>
    <div class="menu__bottom">
      <nav class="menu__nav">
        <ul class="nav">
          {% if not request.user.is_authenticated %}
            <li>
              <a href="{% url 'home' %}">
                <p class="nav__link title-3">{% translate "Home" %}</p>
              </a>
            </li>
            <li>
              <a href="{% url 'registration:login' %}">
                <p class="nav__link title-3">{% translate "Log in" %}</p>
              </a>
            </li>
            <li>
              <a href="{% url 'registration:signup' %}">
                <p class="nav__link title-3">{% translate "Sign up" %}</p>
              </a>
            </li>
            <li>
              <a href="{% url 'registration:password_reset' %}">
                <p class="nav__link title-3">{% translate "Password recovery" %}</p>
              </a>
            </li>
          {% endif %}
          {% if request.user.is_authenticated %}
            <li>
              <a href="{% url 'registration:profile_details' %}">
                <p class="nav__link">{% translate "Profile details" %}</p>
              </a>
            </li>
            <li>
              <a href="{% url 'registration:logout' %}">
                <p class="nav__link">{% translate "Log out" %}</p>
              </a>
            </li>
        {% endif %}
        </ul>
      </nav>
    </div>
  </div>
</header>