{% extends "./base.html" %}
{% load static i18n %}

{# Blocks de base.html #}

{% block page_title %}{% endblock %}
{% block bodyclasses %}{% endblock %}
{% block mainclasses %}{% endblock %}
{% block extra_js %}{% endblock %}

{% block main %}

  {% block before_form_content %}
  {% endblock %}

  <div class="form {% block form_classes %}{% endblock %} {% if form.username.errors or form.non_field_errors %}error{% endif %}">
    <div class="form__container">

      {% block form_introduction %}
      {% endblock %}

      <form method="post" enctype="{% block enctype %}application/x-www-form-urlencoded{% endblock %}" {% block form_action %}{% endblock %}>
        {% csrf_token %}

        {% block form_fields %}
        {% endblock %}

        {% block form_submit %}
        <input class="form__submit btn btn--sec-solid" type="submit" 
          value="{% block submit_text %}{% translate 'Go' %}{% endblock %}">
        {% endblock %}
      </form>

      {% include 'components/form_errors.html' %}

    </div>
  </div>

  {% block after_form_content %}
  {% endblock %}

{% endblock %}
