{% extends "./base.html" %}
{% load i18n %}

{# Blocks de base.html #}
{% block page_title %}{% translate "Demo View" %}{% endblock %}
{% block bodyclasses %}{% endblock %}
{% block mainclasses %} demo-view {% endblock %}
{% block extra_js %}{% endblock %}

{% block main %}
<div class="flex flex-col mx-auto md:max-w-screen-sm">
  <h1 class="mb-8 mt-4 text-2xl font-bold leading-tight tracking-tight text-gray-900
    md:text-3xl  dark:text-white">
    {% translate "Demo View" %}
  </h1>
  <div class="mb-4 text-gray-900 dark:text-white">
    <p>{% translate 'Text descriptiu Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil maxime omnis saepe, blanditiis ea quam rerum illo, eligendi Voluptate a voluptatum maiores! Quo eum id cumque esse doloribus mollitia sit nemo beatae reprehenderit, aliquid ipsum doloremque molestiae? Fugiat doloribus ipsa deleniti saepe architecto. Consequatur qui unde sunt mollitia?' %}</p>
  </div>
    
  <a class="self-end" href="{% url 'update' id=form.instance.id %}">
    <div class="flex gap-3 justify-end items-center w-fit px-5 py-2.5 rounded-lg bg-primary-600 text-white font-bold text-sm text-center cursor-pointer
    lg:mr-16 mt-4
    hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300
    dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800 dark:text-primary-900">
      <p>{% translate "Edit data" %}</p>
      <svg class="w-6 h-6 text-white dark:text-primary-900" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m14.304 4.844 2.852 2.852M7 7H4a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-4.5m2.409-9.91a2.017 2.017 0 0 1 0 2.853l-6.844 6.844L8 14l.713-3.565 6.844-6.844a2.015 2.015 0 0 1 2.852 0Z"/>
      </svg>
    </div>
  </a>
</div>

  {% if form %}
  <section class="bg-gray-50 dark:bg-gray-900">
    <div class="mx-auto max-w-screen-sm py-8 lg:px-16">
      <div class="bg-white dark:bg-gray-800 relative shadow-md rounded-lg overflow-hidden">
        <div class="overflow-x-auto">
          <table class="w-full text-gray-900 dark:text-white">
            <tbody>
              {% for field in form %}
              <tr>
                <th scope="row" class="w-1/2 px-4 py-3 bg-primary-300 font-medium text-left text-gray-900
                dark:text-white align-top">
                  {{ field.label }}
                </th>
                <td class="w-1/2 px-4 py-3 text-right">
                  {{ field.value }}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
  {% else %}
  <div class="mb-4">
    <p>{% translate "Nothing to see here." %}</p>
  </div>
  {% endif %}

{% endblock %}