{% extends "../base_form.html" %}
{% load i18n %}

{# Blocks de base.html #}
{% block page_title %}{% translate "Log in" %}{% endblock %}
{% block bodyclasses %}{% endblock %}
{% block mainclasses %} login grid-1 {% endblock %}
{% block extra_js %}{% endblock %}

{# Blocks de base_form.html #}
{% block form_classes %} grid-item-4-9 {% endblock %}

{% block before_form_content %}
<div class="login__preform grid-item-4-9">
  <h2>{% translate "Log-in" %}</h2>
</div>
{% endblock %}

{% block form_introduction %}
<p>{% translate "Enter your account details to authenticate." %}</p>
{% endblock %}

{% block form_fields %}
  {{ form.as_ul }}
  {% block submit_value %}{% translate "Go in" %}{% endblock %}
{% endblock %}

{% block after_form_content %}
<div class="login__afterform grid-item-4-9">
  <a href="{% url 'registration:password_reset' %}">
    {% translate "Forgotten your password?" %}
  </a>
  <p>{% translate "If you are not registered yet:" %}</p>
  <a href="{% url 'registration:signup' %}">
    <div class="">
      <p>{% translate "Sign-up" %}</p>
    </div>
  </a>
</div>
{% endblock %}
