{% extends "../base_form.html" %}
{% load i18n %}

{# Blocks de base.html #}
{% block page_title %}{% translate "Password recovery" %}{% endblock %}
{% block bodyclasses %}{% endblock %}
{% block mainclasses %} password-reset grid-1 {% endblock %}
{% block extra_js %}{% endblock %}

{# Blocks de base_form.html #}
{% block form_classes %} grid-item-4-9 {% endblock %}

{% block form_fields %}
  {{ form.as_ul }}
  {% block submit_value %}{% translate "Send" %}{% endblock %}
{% endblock %}

{% block after_form_content %}
<div class="form__outro text-md">
  {% comment %} TODO: set to resend  {% endcomment %}
  <a href="{% url 'home' %}">
    {% translate "Resend validation code" %}
  </a>
</div>
{% endblock after_form_content %}

