{% extends "../base_form.html" %}
{% load static %}

{% block page_title %}Reinicialitzar la contrasenya{% endblock %}

{% block wrapper_classes %}no-menu{% endblock %}

{% block page_h1 %}Reinici de contrasenya{% endblock %}

{% block main_classes %}password-reset{% endblock %}

{% block before_form_content %}
  <img class="password-reset__logo" src="{% static 'images/logo_esguard.svg' %}" alt="Logo de l'Esguard">
{% endblock %}

{% block form_introduction %}
  <h2 class="password-reset__title title-1">Reinicia la contrasenya</h2>
  <div class="password-reset__text text-md">
      <p>Has oblidat la contrasenya? <br />
      A qui no li ha passat? Te l’enviem al teu correu.</p>
  </div>
{% endblock %}

{% block form_fields %}
  {% include 'components/field_input.html' with field=form.email label="Introdueix el teu e-mail" %}
  <input class="password-reset__submit btn--round-sm btn--primary text-md is-bold" type="submit" value="Envia">
{% endblock %}
