{% extends "../base_success.html" %}
{% load static %}

{% block page_title %}Reinicialització de contrasenya feta{% endblock %}

{% block success-title %}Fet!{% endblock %}

{% block success-content %}
  <div class="password-reset__text text-md">
    <p>Contrasenya establerta correctament, ja pots accedir a les funcionalitats de l'aplicació.</p>
  </div>
  <a href="{% url 'login' %}" class="password-reset__icon text-md is-bold">
    <p class="btn--round btn--primary">Accedeix</p>
  </a>
{% endblock %}
