{% extends "../base_form.html" %}
{% load static %}

{% block page_title %}Nova contrasenya{% endblock %}

{% block wrapper_classes %}no-menu{% endblock %}

{% block page_h1 %}Reinici de contrasenya{% endblock %}

{% block main_classes %}password-reset{% endblock %}

{% block before_form_content %}
  <img class="password-reset__logo" src="{% static 'images/logo_projecte.svg' %}" alt="Logo de Projecte">
{% endblock %}

{% block form_introduction %}
  <h2 class="password-reset__title title-1">Nova contrasenya</h2>
  <div class="password-reset__text text-md">
      <p>Introdueix i confirma la nova contrasenya.</p>
  </div>
{% endblock %}

{% block form_fields %}
  {% include 'components/field_input_password.html' with field=form.new_password1 label="Nova contrasenya" %}
  {% include 'components/field_input_password.html' with field=form.new_password2 label="Repeteix la nova contrasenya" %}
  <input class="password-reset__submit btn--round-sm btn--primary text-md is-bold" type="submit" value="Estableix">
{% endblock %}
