{% extends "../base_form.html" %}
{% load i18n %}

{# Blocks de base.html #}
{% block page_title %}{% translate "Privacy Policy" %}{% endblock %}
{% block extra_js %}{% endblock %}

{% block form_outro %}
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident distinctio quas earum dolore! Error earum quos velit sequi autem assumenda aliquam odio atque doloremque aperiam eaque quas ipsa rem architecto quo fugiat et, rerum laboriosam eligendi enim nisi placeat quasi! Beatae soluta ipsum, blanditiis provident harum reiciendis culpa temporibus officia illum.
    </p>
{% endblock %}