{% extends "../base_form.html" %}
{% load i18n %}

{# Blocks de base.html #}
{% block page_title %}{% translate "Mail validation" %}{% endblock %}
{% block bodyclasses %}{% endblock %}
{% block mainclasses %}{% endblock %}
{% block extra_js %}{% endblock %}

{# Blocks de base_form.html #}
{% block before_form_content %}{% endblock %}
{% block form_intro %}{% endblock %}
{% block enctype %}{% endblock %}
{% block after_form_content %}{% endblock %}
{% block submit_whole %}{% endblock %}
{% block form_outro %}{% endblock %}
{% block after_form_content %}{% endblock %}

{% block form_fields %}
{{ form }}
<p>{% translate "Click the button to send you a verification code, then check your email." %}</p>
{% endblock %}

{% block submit_text %}{% translate "Send" %}{% endblock %}