{% extends "../base_form.html" %}
{% load i18n %}

{# Blocks de base.html #}
{% block page_title %}{% translate "Mail validation" %}{% endblock %}
{% block bodyclasses %}{% endblock %}
{% block mainclasses %} grid-1 {% endblock %}
{% block extra_js %}{% endblock %}

{# Blocks de base_form.html #}
{% block form_classes %} grid-item-4-9 {% endblock %}

{% block form_fields %}
  {{ form.as_p }}
  {% block submit_value %}{% endblock %}
  <p>Click Go to send you a verification code, then check your email</p>
{% endblock %}




{% block after_form_content %}
{% endblock after_form_content %}
