{% extends 'base_form.html' %}
{% load i18n %}

{# Blocks de base.html #}
{% block page_title %}{% translate "Sign up" %}{% endblock %}
{% block bodyclasses %}{% endblock %}
{% block mainclasses %} signup grid-1 {% endblock %}
{% block extra_js %}{% endblock %}

{# Blocks de base_form.html #}
{% block form_classes %} grid-item-4-9 {% endblock %}

{% block before_form_content %}
<div class="form__title grid-item-4-9">
  <h2>{% translate "Sign-up" %}</h2>
</div>
{% endblock %}

{% block form_fields %}
{{ form.test_select.as_field_group }}
  <!-- {% block submit_text %}{% translate "Create Account" %}{% endblock %} -->
{% endblock %}

{% block after_form_content %}
{% endblock %}
