DEBUG=on
SECRET_KEY=unique_key
ALLOWED_HOSTS=localhost
ABSOLUTE_URL=http://localhost:8001
PROJECT_NAME=

# Superuser
# If set, these will make the initial migration to create a superuser. Make sure
# to never leave the superuser account with the password unchanged if you use
# this.
DJANGO_SUPERUSER_EMAIL=
DJANGO_SUPERUSER_PASSWORD=

# DB
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=
DB_HOST=develop_django_boilerplate_db
DB_PORT=5432

# POST OFFICE
DEFAULT_FROM_EMAIL=aa@example.com
EMAIL_BACKEND=post_office.EmailBackend
# Enable one of the available backends:
#POST_OFFICE_DEFAULT_BACKEND=django.core.mail.backends.smtp.EmailBackend
#POST_OFFICE_DEFAULT_BACKEND=sendgrid_backend.SendgridBackend
POST_OFFICE_DEFAULT_BACKEND=django.core.mail.backends.console.EmailBackend
# 'now': emails are sent immediately instead of queued.
POST_OFFICE_DEFAULT_PRIORITY=now
# 'medium': emails are queued.
#POST_OFFICE_DEFAULT_PRIORITY=medium
# Set this to the sender's domain
POST_OFFICE_MESSAGE_ID_FQDN=example.com

# Sendgrid
SENDGRID_API_KEY=
SENDGRID_SANDBOX_MODE_IN_DEBUG=off
SENDGRID_TRACK_EMAIL_OPENS=off
SENDGRID_TRACK_CLICKS_HTML=off
SENDGRID_TRACK_CLICKS_PLAIN=off

# SMTP
EMAIL_HOST=mail.smtpserver.org
EMAIL_PORT=587
EMAIL_HOST_USER=aa@example.com
EMAIL_HOST_PASSWORD=smtp_password
EMAIL_USE_TLS=off
EMAIL_USE_SSL=off
