:root {
  // Basic Colors
  --white: #fff;
  --whitish: hsl(300, 41%, 97%);
  --black: #000;
  --blackish: #303030;
  --grey: #808080;
  --grey-light: #e5e5e5;
  --red: #dd6e6e;
  --green: #86BDAB;
  
  // App colors
  --primary: #be3bc7;
  --primary-light: #fa76ff;
  --second: #5bbab5;
  --second-dark: #00524f;

  // Paddings
  --padding-base: 16px;

  --padding-xxsm: calc(var(--padding-base) / 3);
  --padding-xsm: calc(var(--padding-base) / 2);
  --padding-sm: var(--padding-base);
  --padding-md: calc(var(--padding-base) * 1.5);
  --padding-lg: calc(var(--padding-base) * 2);
  --padding-xlg: calc(var(--padding-base) * 3);

  // Border radius
  --br: 8px;

  // Borders
  --b-thin-sec: 1px solid var(--second);
  --b-thick-sec: 2px solid var(--second);
  --b-thin-prim: 1px solid var(--primary);
  --b-thick-prim: 2px solid var(--primary);
  --b-error: 2px solid var(--red);
}
