:root {
  // Basic Colors
  --white: #fff;
  --whitish: hsl(300, 41%, 97%);
  --black: #000;
  --blackish: #303030;
  --grey: #808080;
  --grey-light: #e5e5e5;
  --red: #dd6e6e;
  --green: #86BDAB;
  
  // App colors
  --primary: #be3bc7;
  --primary-light: #fa76ff;
  --second: #5bbab5;
  --second-dark: #00524f;

  // Paddings
  --padding-base: 16px;

  --padding-xxs: calc(var(--padding-base) / 3);
  --padding-xs: calc(var(--padding-base) / 2);
  --padding-sm: var(--padding-base);
  --padding-md: calc(var(--padding-base) * 1.5);
  --padding-lg: calc(var(--padding-base) * 2);
  --padding-xlg: calc(var(--padding-base) * 3);
}
